body {
    background-image: url("../../Img/Fondos/Proyecto Onboarding Coopemep nov24 editable adicionales_Pantalla 1.png");
}

.login-container {
    background: white;
    border-radius: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.login-left {
    background-image: url("../../Img/Fondos/Proyecto Onboarding Coopemep nov24 editable adicionales_imagen fondo.png");
    background-size: cover;
    background-position: center;
    color: white;
}

.scoring-title {
    font-size: 3rem;
    color: var(--color-azul);
    font-weight: bold;
}

.login-right .logo {
    max-width: 80%;
}

.user-input,
.password-input {
    border: none;
    border-bottom: 2px solid var(--color-celeste) !important;
    outline: none;
    background: transparent;
    padding: 5px;
    color: #000;
}

.password-input {
    border-bottom-color: var(--color-verde) !important;
}

.alert-danger {
    font-size: 0.9rem;
    text-align: center;
}

@media (max-width: 768px) {
    .login-left {
        display: none; 
    }

    .login-container {
        height: auto;
        padding: 20px;
    }

    .user-input,
    .password-input {
        font-size: 14px;
    }

    .btn-gradient {
        font-size: 14px;
    }
}
