@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans:wght@700&display=swap');

@font-face {
    font-family: 'Geomanist';
    src: url('/Font/Geomanist-Regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

.login-page {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    /*background: url('/Img/Fondos/fondo-educativo-desktop.png') no-repeat center center;*/
    background-size: cover;
    background-attachment: fixed;
    margin: 0;
    font-family: 'Geomanist', sans-serif;
}

.login-card {
    background-color: #331730;
    padding: 40px;
    border-radius: 18px;
    width: 100%;
    max-width: 400px;
    text-align: center;
    box-shadow: 0 10px 40px rgba(0, 0, 0, 0.2);
}

.logo {
    width: 180px;
    margin-bottom: 15px;
}

.titleLog {
    color: #FFFFFF !important;
    font-family: 'Alegreya Sans', sans-serif;
    font-weight: 700;
    font-size: 28px;
    margin-bottom: 30px;
}

.form-group {
    margin-bottom: 20px;
}

.form-control {
    width: 100%;
    padding: 12px;
    border-radius: 30px;
    border: 1px solid #80577C;
    background-color: #fff;
    color: #331730;
    font-size: 16px;
    font-family: 'Geomanist', sans-serif;
}

    .form-control::placeholder {
        color: #AB57A1;
        font-weight: 500;
    }

.btn-login {
    width: 100%;
    background-color: #6A2C69;
    color: white;
    padding: 14px;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-family: 'Geomanist', sans-serif;
}

    .btn-login:hover {
        background-color: #AB57A1;
    }
