
thead {
    background-color: var(--color-secundario) !important;
    color: white !important;
    border-top: 1px solid white !important;
}

table {
    text-align: center;
}



td {
    width: 100px !important;
}

.container {
    padding-left: 65px !important;
    padding-right: 65px !important;
}

.pagination {
    --bs-pagination-bg: var(--color-primario) !important;
    --bs-pagination-disabled-bg: var(--color-secundario) !important;
    --bs-pagination-disabled-color: white !important;
    --bs-pagination-border-width: 0px;
    --bs-pagination-color: white !important;
    --bs-pagination-hover-color: white !important;
}

.custom-file-input {
    display: flex;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 5px 10px;
    width: 100%;
    max-width: 300px;
    background-color: #fff;
}

.file-upload-button {
    background-color: var(--color-secundario);
    color: #fff;
    padding: 5px 10px;
    border-radius: 3px;
    cursor: pointer;
    margin-right: 10px;
    white-space: nowrap;
}

.file-name {
    font-size: 0.9em;
    color: black;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    flex-grow: 1;
}

.input-file-hidden {
    display: none;
}

.clear-button {
    background-color: #f44336;
    color: white;
    border: none;
    padding: 2px 8px;
    border-radius: 50%;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.2s;
}

    .clear-button:hover {
        background-color: #d32f2f;
    }

.accordion-button:not(.collapsed)::after {
    background-image: white !important;
}

.header-azul{
    background-color: var(--color-secundario) !important;
    color:white !important;
}
    .header-azul::after {
        color: white !important;
        filter: invert(1); 
    }

.header-celeste {
    background-color: var(--color-primario) !important;
    color: white !important;
}
    .header-celeste::after {
        color: white !important;
        filter: invert(1);
    }

.header-verde {
    background-color: var(--color-cuarto) !important;
    color: white !important;
}
    .header-verde::after {
        color: white !important;
        filter: invert(1);
    }

.header-amarillo {
    background-color: var(--color-terciario) !important;
    color: white !important;
}

.alert-info {
    background: linear-gradient(to right,var(--color-secundario), var(--color-primario));
    color: white !important;
    justify-content: center;
    border: 0px
}

.no-padding td {
    padding: 1 !important;
    height: 50px !important;
}