.btn-excel {
    color: white !important;
    background: var(--color-cuarto) !important;
    border: 0px !important;
    padding-left: 20px !important;
    padding-right: 20px !important;
    margin-left: 0px !important;
    margin-right: 0px !important;
    font-family: AlegreyaSans-Bold !important;
}

.btn-pdf {
    color: white !important;
    background: var(--color-primario) !important;
    border: 0px !important;
    padding-left: 20px !important;
    padding-right: 20px !important;
    margin-left: 0px !important;
    margin-right: 0px !important;
    font-family: AlegreyaSans-Bold !important;
}

.btn-copy {
    color: white !important;
    background: var(--color-secundario) !important;
    border: 0px !important;
    padding-left: 20px !important;
    padding-right: 20px !important;
    margin-left: 0px !important;
    margin-right: 0px !important;
    font-family: AlegreyaSans-Bold !important;
}

.btn-degradado {
    background: linear-gradient(to right, var(--color-cuarto) 0%, var(--color-primario) 70%, var(--color-secundario) 100%) !important;
    color: white;
    border-radius: 25px !important;
    padding-left: 25px;
    padding-right: 25px;
    font-family: AlegreyaSans-Bold !important;
    transition-duration: 1s !important;
}

    .btn-degradado:hover {
        transform: scale(1.05);
        color: white !important
    }

.btn-azul {
    background-color: var(--color-secundario) !important;
    color: white;
    border-radius: 25px !important;
    padding-left: 25px;
    padding-right: 25px;
    font-family: AlegreyaSans-Bold !important;
    transition-duration: 1s !important;
    width: 90%;
}

    .btn-azul:hover {
        transform: scale(1.05);
        color: white !important
    }

.btn-celeste {
    background-color: var(--color-primario) !important;
    color: white;
    border-radius: 25px !important;
    padding-left: 25px;
    padding-right: 25px;
    font-family: AlegreyaSans-Bold !important;
    transition-duration: 1s !important;
    width: 90%;
}

    .btn-celeste:hover {
        transform: scale(1.05);
        color: white !important
    }

.btn-verde {
    background-color: var(--color-cuarto) !important;
    color: white;
    border-radius: 25px !important;
    padding-left: 25px;
    padding-right: 25px;
    font-family: AlegreyaSans-Bold !important;
    transition-duration: 1s !important;
    width: 90%;
}

    .btn-verde:hover {
        transform: scale(1.05);
        color: white !important
    }

.btn-create {
    background-color: var(--color-secundario) !important;
    color: white !important;
    border-radius: 8px !important;
    padding-left: 8px;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-right: 8px;
    font-family: AlegreyaSans-Bold !important;
    transition-duration: 1s !important;
}
    .btn-create:hover {
        transform: scale(1.05);
    }


.btn-edit {
    background-color: var(--color-cuarto) !important;
    color: white !important;
    border-radius: 8px !important;
    padding-left: 8px;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-right: 8px;
    font-family: AlegreyaSans-Bold !important;
    transition-duration: 1s !important;
}

    .btn-edit:hover {
        transform: scale(1.05);
    }

.btn-delete {
    background-color: var(--color-primario) !important;
    color: white !important;
    border-radius: 8px !important;
    padding-left: 8px;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-right: 8px;
    font-family: AlegreyaSans-Bold !important;
    transition-duration: 1s !important;
}

    .btn-delete:hover {
        transform: scale(1.05);
    }

.disabled{
    color: white !important;
    border: 0px;
}

.btn-horario {
    width: 100%;
    height: 100%;
    border-radius: 0;
    padding: 0;
}
