.modal-content {
    border-radius: 25px 25px 25px 25px !important;
}

.modal-header {
    border-radius: 25px 25px 0px 0px !important;
    background-color: var(--color-azul) !important;
}

.modal-title {
    color: white !important;
    font-family: BentonSans-Bold !important;
    font-size: 20px !important;
}

.modal::-webkit-scrollbar {
    width: 10px;
}

.modal::-webkit-scrollbar-thumb {
    background-color: var(--color-azul);
    border-radius: 10px;
}

.modal::-webkit-scrollbar-track {
    background-color: var(--color-verde);
    border-radius: 10px;
}

.close {
    border-radius: 25px;
    border: 0px solid white;
    background-color: transparent;
    color: white;
    font-size: 25px !important;
}

input, select {
    border-radius: 25px !important;
    font-family: Poppins-Regular !important;
}

label {
    font-family: Poppins-Regular !important;
}

.modal-footer button.btn:first-child {
    color: white !important;
    background: var(--color-azul) !important;
    border: 0px !important;
    padding-left: 20px !important;
    padding-right: 20px !important;
    margin-left: 20px !important;
    margin-right: 20px !important;
    font-family: Poppins-Regular !important;
    text-decoration: none;
}

.modal-footer button.btn:last-child {
    color: white !important;
    background: var(--color-verde) !important;
    border: 0px !important;
    padding-left: 20px !important;
    padding-right: 20px !important;
    margin-left: 20px !important;
    margin-right: 20px !important;
    font-family: Poppins-Regular !important;
    text-decoration: none;
}
