

.btn-excel {
    color: white !important;
    background: #215D41 !important;
    border: 0px !important;
    padding-left: 20px !important;
    padding-right: 20px !important;
    margin-left: 0px !important;
    margin-right: 0px !important;
    font-family: AlegreyaSans-Bold !important;
}
.btn-importar {
    color: white !important;
    background: #0056B3 !important;
    border: 0px !important;
    padding-left: 20px !important;
    padding-right: 20px !important;
    margin-left: 0px !important;
    margin-right: 0px !important;
    font-family: AlegreyaSans-Bold !important;
}

.btn-plantilla {
    color: white !important;
    background: #728FA7 !important;
    border: 0px !important;
    padding-left: 20px !important;
    padding-right: 20px !important;
    margin-left: 0px !important;
    margin-right: 0px !important;
    font-family: AlegreyaSans-Bold !important;
}

.btn-pdf {
    color: white !important;
    background: #B14852 !important;
    border: 0px !important;
    padding-left: 20px !important;
    padding-right: 20px !important;
    margin-left: 0px !important;
    margin-right: 0px !important;
    font-family: AlegreyaSans-Bold !important;
}

.btn-copy {
    color: white !important;
    background: #E6792C !important;
    border: 0px !important;
    padding-left: 20px !important;
    padding-right: 20px !important;
    margin-left: 0px !important;
    margin-right: 0px !important;
    font-family: AlegreyaSans-Bold !important;
}

.btn-degradado {
    background: linear-gradient(to right, var(--color-cuarto) 0%, var(--color-primario) 70%, var(--color-secundario) 100%) !important;
    color: white;
    border-radius: 25px !important;
    padding-left: 25px;
    padding-right: 25px;
    font-family: AlegreyaSans-Bold !important;
    transition-duration: 1s !important;
}

    .btn-degradado:hover {
        transform: scale(1.05);
        color: white !important
    }

.btn-azul {
    background-color: var(--color-secundario) !important;
    color: white;
    border-radius: 25px !important;
    padding-left: 25px;
    padding-right: 25px;
    font-family: AlegreyaSans-Bold !important;
    transition-duration: 1s !important;
    width: 90%;
}

    .btn-azul:hover {
        transform: scale(1.05);
        color: white !important
    }

.btn-celeste {
    background-color: var(--color-primario) !important;
    color: white;
    border-radius: 25px !important;
    padding-left: 25px;
    padding-right: 25px;
    font-family: AlegreyaSans-Bold !important;
    transition-duration: 1s !important;
    width: 90%;
}

    .btn-celeste:hover {
        transform: scale(1.05);
        color: white !important
    }

.btn-verde {
    background-color: var(--color-cuarto) !important;
    color: white;
    border-radius: 25px !important;
    padding-left: 25px;
    padding-right: 25px;
    font-family: AlegreyaSans-Bold !important;
    transition-duration: 1s !important;
    width: 90%;
}

    .btn-verde:hover {
        transform: scale(1.05);
        color: white !important
    }

.btn-create {
    background-color: #28A745 !important;
    color: white !important;
    border-radius: 8px !important;
    padding-left: 8px;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-right: 8px;
    font-family: AlegreyaSans-Bold !important;
    transition-duration: 1s !important;
}
    

.btn-base {
    background-color: var(--color-secundario) !important;
    color: white !important;
    border-radius: 8px !important;
    padding-left: 8px;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-right: 8px;
    font-family: AlegreyaSans-Bold !important;
    transition-duration: 1s !important;
}

.btn-base2 {
    background-color: #5E3A5A !important;
    color: white !important;
    border-radius: 8px !important;
    padding-left: 8px;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-right: 8px;
    font-family: AlegreyaSans-Bold !important;
    transition-duration: 1s !important;
}

.btn-edit {
    background-color: #007BFF !important;
    color: white !important;
    border-radius: 8px !important;
    padding-left: 8px;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-right: 8px;
    font-family: AlegreyaSans-Bold !important;
    transition-duration: 1s !important;
}

.btn-inactivar {
    background-color: #6C757D !important;
    color: white !important;
    border-radius: 8px !important;
    padding-left: 8px;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-right: 8px;
    font-family: AlegreyaSans-Bold !important;
    transition-duration: 1s !important;
}

.btn-delete {
    background-color: #DC3545  !important;
    color: white !important;
    border-radius: 8px !important;
    padding-left: 8px;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-right: 8px;
    font-family: AlegreyaSans-Bold !important;
    transition-duration: 1s !important;
}
.btn-base3 {
    background-color: var(--color-primario) !important;
    color: white !important;
    border-radius: 8px !important;
    padding-left: 8px;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-right: 8px;
    font-family: AlegreyaSans-Bold !important;
    transition-duration: 1s !important;
}

   

.disabled{
    color: white !important;
    border: 0px;
}

.btn-horario {
    width: 100%;
    height: 100%;
    border-radius: 0;
    padding: 0;
}
