@page "/MenuPrincipal"
@layout MainLayout


<HeadContent>
    <link rel="stylesheet" href="css/Styles/Style-MenuPrincipal.css" />
</HeadContent>
<PageTitle>Menú Principal - C.T.P. Plan Nacional</PageTitle>

<Div Class="main-content">
    <Card class="d-flex justify-content-center align-items-center">
        <CardBody class="text-center">
            <Div Class="welcome-container">
                <h1 class="welcome-text">Sistema inteligente de generación de horarios</h1>
            </Div>
            <CardText>
                <p>
                    Es un sistema inteligente diseñado para facilitar la creación de horarios docentes en la sección de Educación Especial del CTP de Calle Blancos.

                    Con solo ingresar la información de los profesores, materias y grupos, el sistema genera automáticamente los horarios semanales
                </p>
                <hr />
            </CardText>
            <img src="Img/calendario.png" class="img-fluid" />
            <hr />
        </CardBody>
    </Card>
</Div>

@code {
    private string userName;

    [Inject]
    private AuthenticationStateProvider AuthenticationStateProvider { get; set; }

    protected override async Task OnInitializedAsync()
    {
        //var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
        // var user = authState.User;

        // userName = user.Identity?.IsAuthenticated == true
        //     ? user.Claims.FirstOrDefault(c => c.Type == ClaimTypes.NameIdentifier)?.Value ?? "Usuario desconocido"
        //     : "Invitado";
        userName = "Invitado";
    }
}
